body{
   
}

#app{
    
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.intro{
    text-align: center;
}

.calc-section{
    background: #ebebeb;
    padding:20px;
}

.form-group{
    label{
        display: block;
        position: relative;
    }
}

hr{
    display: none;
    border-top: 1px solid #bfbfbf;
}